:root{
    --white: #ffffff;
    --gray: #ccc;
    --maroon: #AD4245;
}

.main-container {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
}


.heading-container{
    color: var(--white);
    margin-top: 50px;
    margin-left: 150px;
    align-items: center;
    justify-content: center;
}

.heading{
    font-weight: bolder;
}
.paragraph{
    max-width: 56rem;
}

.form-heading{
    margin-top: 50px;
    margin-left: 180px;
    color: var(--white);

}
.form-heading h2{
    font-size: 28px;

}


.outer-container{
    margin-top: 30px;
    margin-left: 70px;
}
.outer-container .notification p{
    color: var(--white);
    font-size: 16px;
}
.candidate-container{
    display: flex;
} 
button{
    border: none;
    background: var(--white);
    margin-right: 40px;
    padding: 10px;
    border-radius: 10px;
    color: var(--maroon);
}

.form {
    background: var(--white);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    margin-left: 190px;
    margin-top: 30px;
    color: #AD4245;
}
.form div {
    margin-bottom: 10px;
}

.check{
    margin-left: 190px;
    margin-top: 30px;
}
.candidate-section2{
    display: flex;
}
label{
    color: var(--white);
}


input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--gray);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}
input[type="text"]:focus,
input[type="email"]:focus {
    border: 1px solid var(--gray);
    box-shadow: none;
    outline: var(--gray);
}
input[type="submit"] {
    max-width: 35%;
    padding: 10px 40px;
    background-color: var(--white);
    color: var(--maroon);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 190px;
    cursor: pointer;
}

